<h1 class="text-white text-center mt-5">{{aim}}</h1>
<form (ngSubmit)="login()" [formGroup]="loginForm">
    <div class="text-center text-white  ">
        <div class="container mt-5  p-3 w-50 border p-2 border-opacity-10  rounded-4 border-info border-4" style=" background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        ">
            <h1>Login Form</h1>
           
                <div>
                    <input id="acid" formControlName="acno" name="acno" type="text"
                        class="form-control item item  my-3 p-2" [placeholder]="data">
                </div>
                <div>
                    <input id="pid" formControlName="psw" name="psw" type="password" class="form-control item my-3 p-2 "
                        placeholder="password">
                </div>
                <div class="text-center mt-2 p-2">
                    <button type="submit"  class="btn btn-success ">login</button><br><br>


                    <p class="">new user?</p> <a style="text-decoration:none ;color: white;" routerLink="register">
                        Register here</a>
                </div>
           
        </div>
    </div>
</form>